<div class="min-h-screen flex flex-col bg-gray-50 dark:bg-[#0c0c0f] relative isolate overflow-hidden">
  <!-- Animated Background Blobs -->
  <div class="absolute top-0 left-0 -translate-x-1/4 -translate-y-1/2 w-[60vw] h-[60vh] bg-cyan-300/40 dark:bg-cyan-500/20 animated-blob rounded-full" style="animation-delay: -3s;"></div>
  <div class="absolute bottom-0 right-0 translate-x-1/4 translate-y-1/2 w-[50vw] h-[50vh] bg-purple-300/40 dark:bg-purple-500/20 animated-blob rounded-full" style="animation-delay: -6s;"></div>
  <div class="absolute bottom-0 left-0 -translate-x-1/4 translate-y-1/4 w-[40vw] h-[40vh] bg-sky-300/40 dark:bg-sky-500/20 animated-blob rounded-full"></div>

  <div class="relative z-10 flex flex-col flex-grow">
    <app-header></app-header>
    <main class="flex-grow">
      <router-outlet></router-outlet>
    </main>
    <app-footer></app-footer>
  </div>
</div>
